.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectContainer {
  display: flex;
  gap: 20px;
}

select {
  padding: 10px;
}
span {
  color: gray;
}
.selectCity {
  color: black;
  font-size: x-large;
}
